.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.detailItem{
  text-align: left;
  display: flex !important;
  padding-left: 3em !important;
}
.abilitiesList{
  margin-left: 1em !important;
}
.cardBkColor{
  background-color: #e4bcef !important;
}

.cardImg{
  background: rgba(0,0,0,0) !important;
}

.ui.card>.content, .ui.cards>.card>.content {
  border-top: 1px solid purple !important;
}

.cardHeaderColor{
  color: purple !important;
}